<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OnestoWeb.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OnestoWeb.My.MySettings.ConnStr" connectionString="Data Source=HENDRA\HENDRA;Initial Catalog=sqlserver;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
        <add name="OnestoWeb.My.MySettings.ConnStr2" connectionString="Dsn=DBISAM;uid=db;pwd=12345678"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
        <httpRuntime maxRequestLength="102400" executionTimeout="3600" /> 
    </system.web>

  <!-- Start Penambahan untuk max allow upload file sebesar 100 MB Max 1024 * 100 beserta httpRuntime di 2 baris diatas komen ini  -->  
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="102400" />
        </requestFiltering>
      </security>
    </system.webServer>
  <!-- End  -->

  <applicationSettings>
        <OnestoWeb.My.MySettings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>sqlserver</value>
            </setting>
        </OnestoWeb.My.MySettings>
    </applicationSettings>
</configuration>
